.loader {
  background-color: #ff4522;
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 50;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  opacity: 0;
  pointer-events: none;

  &.-opened {
    opacity: 1;
  }
}
