.loader {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  width: 100vw;
  height: 100vh;
  z-index: 900;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.3s ease;
  background-color: #ff4522;

  .figure {
    position: relative;
    z-index: 95;
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 70%;
    opacity: 0;
    animation: reveal 0.3s cubic-bezier(0.65, 0, 0.35, 1) both;
    animation-delay: 0.1s;
    overflow: visible;

    @media (min-width: 768px) {
      max-width: none;
    }
  }

  .value {
    position: absolute;
    font-size: 56px;
    color: #99018a;
    font-weight: bold;
    z-index: 96;
    margin: auto;

    @media (min-width: 768px) {
      font-size: 96px;
    }
  }

  &.-opened {
    opacity: 1;
    pointer-events: auto;
  }

  .layer {
    transform-origin: left center;
    width: 100vw;
    height: 100vh;
    inset: 0;
    position: fixed;
    z-index: 91;
    background-color: #400039;
    mix-blend-mode: exclusion;
  }

  .letters {
    animation: spin 20s linear infinite;
  }

  .illustration {
    fill: #400039;
  }
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@keyframes reveal {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
