.about {
  .description,
  .skills,
  .experience {
    padding: 80px 0;
    width: 95%;
    margin: 0 auto;
  }

  .description {
    padding-top: 120px;
  }

  .description .text {
    font-size: 2rem;
    font-weight: 400;
    line-height: 3.8rem;
    color: #070551;
    span {
      color: #fd4d40;
    }

    @media (max-width: 868px) {
      font-size: 2rem;
      line-height: 2.8rem;
    }
  }

  .description .profile-image {
    margin-bottom: 30px;
    margin-left: 20%;
  }

  .description .title {
    text-transform: uppercase;
    font-weight: 800;
    font-size: 2.1rem;
    color: #99018a;
  }

  .skills {
    border-top: 1px solid #99018a;
  }

  .skills .container {
    display: flex;
    align-items: flex-start;
    @media (max-width: 868px) {
      flex-direction: column;
    }
  }

  .skills .wrappertitle {
    width: 30%;
    text-transform: uppercase;
    font-weight: 800;
    font-size: 2.1rem;
    color: #99018a;

    @media (max-width: 868px) {
      font-size: 1.5rem;
      width: 40%;
      margin-bottom: 60px;
    }
  }

  .skills .list {
    width: 70%;
    display: flex;
    flex-wrap: wrap;

    @media (max-width: 868px) {
      flex-direction: column;
      width: 60%;
    }
  }

  .skills .list .item {
    width: 50%;
    font-size: 24px;
    margin-bottom: 35px;
    color: #070551;

    @media (max-width: 868px) {
      width: 100%;
      font-size: 1rem;
    }
  }

  .experience {
    border-top: 1px solid #fd4d40;
  }

  .experience .container {
    display: flex;

    @media (max-width: 868px) {
      flex-direction: column;
    }
  }

  .experience .title {
    width: 30%;
    text-transform: uppercase;
    font-weight: 800;
    font-size: 2.1rem;
    color: #fd4d40;

    @media (max-width: 868px) {
      font-size: 1.5rem;
      width: 40%;
      margin-bottom: 60px;
    }
  }

  .experience .list {
    width: 70%;
    display: flex;
    flex-wrap: wrap;

    .subtitle {
      font-weight: 800;
      font-size: 24px;
      line-height: 32px;
      color: #070551;
      margin-bottom: 30px;
    }

    @media (max-width: 868px) {
      width: 100%;
    }
  }

  .experience .list .item {
    width: 100%;
    font-size: 2rem;
    margin-bottom: 25px;
    color: #070551;
    display: flex;

    @media (max-width: 868px) {
      font-size: 1.3rem;
      display: flex;
      align-items: center;
    }
  }

  .experience .list .item .company {
    min-width: 308px;
    font-weight: normal;
    font-size: 24px;
    line-height: 32px;
    color: #400039;

    @media (max-width: 868px) {
      min-width: unset;
      font-size: 1.2rem;
      width: 80px;
      flex-shrink: 0;
    }
  }

  .experience .list .item .duration {
    font-size: 24px;
    line-height: 32px;
    @media (max-width: 868px) {
      font-size: 1rem;
    }
  }

  .line {
    background-color: #400039;
    height: 1px;
    width: 100%;
    margin: 30px 0 60px 0;
  }

  .experience .list .item .icon {
    margin: 0 30px;

    @media (max-width: 868px) {
      margin: 0 20px;
      width: 40px;
    }
  }
}
.myprofile {
  display: flex;

  font-size: 24px;
  line-height: 32px;
  text-decoration-line: underline;
  color: #d604c1;
  .iconlink {
    margin-right: 15px;
  }
}

.skills .wrappertitle {
  overflow: hidden;
}

.skills .wrappertitle span {
  width: max-content;
  white-space: nowrap;
  margin: 0;
  line-height: 117%;
}

.skills .wrappertitle .title {
  &.is-inview {
    animation: slide-up 0.9s cubic-bezier(0.65, 0, 0.35, 1) both;
  }
}

@keyframes slide-up {
  0% {
    transform: translateY(50px);
  }
  100% {
    transform: translateY(0);
  }
}
