

html {
  scroll-behavior: smooth;
}

.line {
  height: 3px;
  background-color: #ff4522;
  border: none;
}

[data-scroll].image {
  position: relative;
  width: 260px;
  height: 260px;
  max-width: 90%;

  &:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #400039;
    transform-origin: bottom center;
  }
}

// REVEAL

[data-scroll] {
  overflow: hidden;
  position: relative;

  @media (min-width: 1200px) {
    display: inline-block;
  }

  &.image {
    overflow: hidden;
    transform: scaleY(0);
    transform-origin: top center;
  }

  .target {
    opacity: 0;
  }

  &.line {
    transform: scaleX(0);
  }

  &.case {
    overflow: visible;
    opacity: 0;
    transition: opacity 0.3s ease;
  }

  .opacity {
    position: relative;
    opacity: 0;
    transition: opacity 0.3s ease;
  }

  &.is-inview {
    .target {
      opacity: 1;
      animation: appear 0.6s cubic-bezier(0.65, 0, 0.35, 1) both;

      @media (min-width: 1200px) {
        animation: slide-up 0.9s cubic-bezier(0.65, 0, 0.35, 1) both;
        display: inline-block;
      }
    }

    &.line {
      animation: line-expand 0.6s cubic-bezier(0.65, 0, 0.35, 1) both;
    }

    &.image {
      animation: image-expand 0.4s cubic-bezier(0.65, 0, 0.35, 1) both;

      &:after {
        animation: image-shrink 0.4s cubic-bezier(0.65, 0, 0.35, 1) both;
        animation-delay: 0.3s;
      }
    }

    &.case {
      opacity: 1;
    }

    .opacity {
      opacity: 1;
    }
  }
}

@keyframes slide-up {
  0% {
    transform: translateY(130%);
  }
  100% {
    transform: translateY(0);
  }
}

@keyframes line-expand {
  0% {
    transform: scaleX(0);
  }
  100% {
    transform: scaleX(1);
  }
}

@keyframes appear {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes image-expand {
  to {
    transform: scaleY(1);
  }
}

@keyframes image-shrink {
  to {
    transform: scaleY(0);
  }
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

// When loading
.header,
.header .link {
  transition: opacity 0.3s ease, border-color 0.3s ease;
}
.home .container .holder,
.logo-master .letters,
.logo-master .symbol,
.header .logo,
.header .logo g {
  transition: opacity 0.3s ease;
}

.header .logo circle, .logo-master circle {
  transition: transform 0.3s cubic-bezier(0.65, 0, 0.35, 1);
}

.logo-master svg,
.header .logo svg,
.header .logo-wrapper {
  overflow: visible;
}

.-loading {
  cursor: progress !important;

  .header .link {
    opacity: 0;
  }
  .header {
    border-color: transparent;
  }
  .home .container .holder,
  .logo-master .letters,
  .logo-master .symbol,
  .header .logo g {
    opacity: 0;
  }
  .logo-master:not(.-hack) circle, .logo-master.-hack {
    transform: scale(30);
  }

  .header .logo circle {
    transform: scale(30);
  }
}
