*, :after, :before {
    box-sizing: border-box;
}

body {
  overflow-x: hidden;
  overflow-y: scroll;
}

main.main {
  overflow: hidden;
  position: fixed;
  height: 100vh;
  width: 100vw;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.scroll-content {
  position: absolute;
  overflow: hidden;
  z-index: 10;
  backface-visibility: hidden;
  transform-style: preserve-3d;
  will-change: transform;
}
