.-case {
  width: 100vw;
  overflow-x: hidden;
  .container {
    position: relative;
    padding: 0 100px;
    display: flex;
    justify-content: space-around;
    flex-direction: row;

    @media (max-width: 868px) {
      flex-direction: column;
      padding: 0 40px;
    }

    &.-divider {
      padding: 0 100px;
      margin: 0 auto;

      @media (max-width: 868px) {
        padding: 0 40px;
      }
    }

    &.-secondary {
      padding: 70px 100px;
      display: flex;
      align-items: center;
      justify-content: center;

      @media (max-width: 868px) {
        padding: 70px 40px;
      }

      .illustration {
        z-index: 10;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        margin: auto;
        display: block;
      }
      .title {
        background: #fd4d40;
        letter-spacing: 0.2px;
        font-weight: lighter;
        display: block;
        position: absolute;
        z-index: 11;
        padding: 5px 10px;
        border-radius: 16px;
        color: white;
        margin: auto;

        &.-black {
          background: #400039;
        }

        &.-pink {
          background: #f992d3;
        }
      }
      .divider {
        width: 100%;
      }
    }
  }

  .divider {
    border-color: #400039;
    position: relative;
    width: 100%;

    &.-light {
      border: 1px solid #e5e5e5;
    }
  }
}

.casesection {
  padding: 30px 0px;

  .holder {
    width: 100%;
  }

  .caption {
    text-align: left;
    margin-bottom: 30px;
    width: 100%;
  }

  .image {
    width: 100%;
  }

  &.-grid {
    padding: 0;

    @media (min-width: 868px) {
      padding: 30px 0;
    }
    .container {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      flex-direction: column;

      @media (min-width: 868px) {
        flex-direction: row;
      }

      .image {
        width: 50%;
        margin: 20px auto;

        @media (min-width: 868px) {
          max-width: 220px;
        }
      }
    }
  }
}

.-hero {
  position: relative;
  padding: 100px 0;

  @media (max-width: 868px) {
    padding: 60px 0 100px 0;
  }

  .content {
    position: absolute;
    bottom: 0;
    width: 100%;
    padding: 0 100px 20px 100px;

    @media (max-width: 868px) {
      padding: 0 30px;
      bottom: -45px;
    }
  }

  .category {
    @media (max-width: 868px) {
      font-size: 0.8rem;
      margin-bottom: 5px;
    }
  }

  .icon {
    max-width: 70%;
    margin: auto;
  }

  .thumb {
    position: relative;
    width: 100%;
  }

  .image {
    width: 60%;
    max-width: 90%;
    position: absolute;
    margin: auto;
    inset: 0;
  }

  .name {
    font-size: 4rem;

    @media (max-width: 868px) {
      font-size: 2rem;
    }
  }
}

.-synopsis {
  display: flex;

  @media (max-width: 868px) {
    flex-direction: column;
    padding: 0 30px 40px 30px;
  }

  .item {
    width: 25%;
    &.-thechallenge {
      width: 50%;
    }

    @media (max-width: 868px) {
      margin-bottom: 40px;
      width: 100% !important;
    }
  }
  .title {
    font-weight: bold;
    font-size: 1.5rem;
    margin-bottom: 20px;
    @media (max-width: 868px) {
      font-size: 1rem;
    }
  }

  .list li {
    margin-bottom: 10px;
    font-weight: 400;
  }
}

.-beforeafter {
  .caseimage {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    @media (max-width: 868px) {
      margin-bottom: 50px;
    }
  }

  .text {
    font-weight: 600;
    font-size: 1.5rem;
    margin-bottom: 40px;
  }
}

.-uxproccess {
  .processes {
    display: flex;
    justify-content: space-between;
    flex-direction: row;

    @media (max-width: 868px) {
      flex-direction: column;
    }
  }

  .processes > .item {
    width: 32%;
    padding: 35px 30px;
    border: 2px solid #fd4d40;
    border-radius: 16px;

    @media (max-width: 868px) {
      width: 100%;
      margin: 20px 0;
    }

    &:nth-of-type(2) {
      border-color: #99018a;

      .title {
        color: #99018a;
      }
    }

    &:last-of-type {
      border-color: #f992d3;
      .title {
        color: #f992d3;
      }
    }
  }

  .processes > .item .title {
    color: #fd4d40;
    font-size: 1.5rem;
    font-weight: 600;
    margin-bottom: 35px;
    text-align: center;
  }

  .processes > .item .list {
    list-style: disc;
    padding-left: 20px;
    line-height: 1.4rem;
  }

  .processes > .item .list .item {
    margin-bottom: 10px;
  }
}

.-survey {
  display: flex;
  align-items: center;

  .holder {
    width: 50%;

    @media (max-width: 868px) {
      width: 100%;
      padding: 0;
      &:first-of-type {
        margin-bottom: 40px;
      }
    }

    @media (min-width: 868px) {
      &:first-of-type {
        padding-right: 50px;
      }
      &:last-of-type {
        padding-left: 50px;
      }
    }
  }

  .caseimage {
    margin-bottom: 20px;
    padding: 10px 0px;

    &:first-of-type {
      border-bottom: 1px solid #e5e5e5;
    }
  }

  .caseimage .text {
    margin-bottom: 20px;
    font-weight: 600;
    color: #99018a;
  }

  .caseimage .caption {
    margin-top: 20px;
    color: #666666;
  }
}

.-full {
  img {
    width: 100%;
  }
}

.-carousel {
  max-width: 100%;
  margin: 0 auto;
  padding: 0 20px;

  @media (min-width: 868px) {
    max-width: 1130px;
  }
}

.screenprint {
  margin-bottom: 20px;
  padding: 10px 0px;
  display: flex;
  align-items: center;
  flex-direction: column;

  .caption {
    margin-top: 30px;
    color: #666666;
    max-width: 200px;
    text-align: center;
    line-height: 1.5rem;
  }
}

.videoprint {
  max-width: 225px;
}

.-result {
  width: 100%;
  background-color: #f992d3;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 70px 0;
  position: relative;

  .videoprint {
    max-width: 348px;
    z-index: 30;
  }

  .circles {
    position: absolute;
    bottom: 0;
    right: 15%;
    z-index: 1;
  }
}
