.-case {
  width: 100vw;
  overflow-x: hidden;
  .container {
    position: relative;
    padding: 0 100px;
    display: flex;
    justify-content: space-around;
    flex-direction: row;

    @media (max-width: 868px) {
      flex-direction: column;
      padding: 0 40px;
    }

    &.-divider {
      padding: 0 100px;
      margin: 0 auto;

      @media (max-width: 868px) {
        padding: 0 40px;
      }
    }

    &.-secondary {
      padding: 70px 100px;
      display: flex;
      align-items: center;
      justify-content: center;

      @media (max-width: 868px) {
        padding: 70px 40px;
      }

      .illustration {
        z-index: 10;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        margin: auto;
        display: block;
      }
      .title {
        background: #fd4d40;
        letter-spacing: 0.2px;
        font-weight: lighter;
        display: block;
        position: absolute;
        z-index: 11;
        padding: 5px 10px;
        border-radius: 16px;
        color: white;
        margin: auto;

        &.-black {
          background: #400039;
        }

        &.-pink {
          background: #f992d3;
        }
      }
      .divider {
        width: 100%;
      }
    }
  }

  .divider {
    border-color: #400039;
    position: relative;
    width: 100%;

    &.-light {
      border: 1px solid #e5e5e5;
    }
  }

  &.-cleancity {
    .thumb {
      position: relative;
      width: 100%;

      @media (min-width: 868px) {
        margin-bottom: 100px;
      }
    }
  }

  &.-blueberry {
    .thumb {
      position: relative;
      width: 100%;

      @media (min-width: 868px) {
        margin-bottom: 100px;
      }
    }
  }
}

.container.-divider.-stuck {
  margin-bottom: -80px;
}

.casesection {
  padding: 30px 0px;

  .holder {
    width: 100%;
  }

  .holder.-padding {
    padding-right: 20px;
    &:last-of-type {
      padding-right: 0;
    }
  }

  > img {
    margin: 0 auto;
    display: block;
  }

  > .holder > .icon {
    width: 120px;
    height: 74px;
    margin-bottom: 20px;
  }

  .holder.-cellwrapper {
    flex-wrap: wrap;
    display: flex;
  }

  .holder.-cellwrapper > .cell {
    width: 50%;
    margin-bottom: 20px;
    padding-right: 30px;
  }

  .caption {
    text-align: left;
    margin-bottom: 30px;
    width: 100%;
  }

  .image {
    width: 100%;
  }

  &.-grid {
    padding: 0;

    @media (min-width: 868px) {
      padding: 30px 0;
    }
    .container {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      flex-direction: column;

      @media (min-width: 868px) {
        flex-direction: row;
      }

      .image {
        width: 50%;
        margin: 20px auto;

        @media (min-width: 868px) {
          max-width: 220px;
        }
      }
    }
  }

  &.-gridbig {
    padding: 0;

    @media (min-width: 868px) {
      padding: 30px 0;
    }
    .container {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      flex-direction: column;
      padding: 0;

      @media (min-width: 868px) {
        flex-direction: row;
      }

      .image {
        width: 30%;
        margin: 20px auto;
        padding: 0 20px;
        position: relative;
        z-index: 10;

        @media (max-width: 868px) {
          width: 60% !important;
        }
      }
    }
  }

  &.-faq {
    position: relative;
    &:after {
      content: "";
      bottom: 0;
      position: absolute;
      width: 100%;
      height: 60%;
      background: #3ddc97;
    }
  }

  &.-overflowed {
    .holder {
      position: relative;
      display: flex;
      flex-direction: column;
      justify-content: center;
      &:first-of-type {
        width: 50%;
      }
      &:last-of-type {
        width: 50%;
      }

      @media (max-width: 868px) {
        width: 100% !important;
      }
    }

    .holder > img,
    .holder > svg {
      position: absolute;
      right: 80px;
      @media (max-width: 868px) {
        right: 98%;
      }
    }
  }

  &.-recycle {
    display: flex;
    align-items: center;

    @media (max-width: 868px) {
      flex-direction: column;
    }

    .holder {
      position: relative;
      width: 60%;
      height: 100%;

      @media (max-width: 868px) {
        width: 100%;
      }

      &:first-of-type {
        display: flex;
        justify-content: flex-end;
      }

      &:last-of-type {
        max-width: 460px;
        width: 40%;
        padding-left: 10px;
        @media (max-width: 868px) {
          width: 100%;
        }
      }
    }

    .illustration {
      max-width: 100%;
    }
  }

  &.-marginonmobile {
    .holder {
      @media (max-width: 868px) {
        margin-bottom: 30px;
      }
    }
  }

  &.-onboarding {
    background: #9ceaef;
    padding: 150px 0px;

    .container {
      align-items: center;
    }

    video {
      width: 332px;
      max-width: 90%;
    }

    .holder {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: flex-start;
      position: relative;

      &:first-of-type {
        width: 40%;
        align-items: center;
        position: relative;
        z-index: 30;
      }

      &:last-of-type {
        width: 60%;
        padding-left: 80px;
        padding-bottom: 60px;
        padding-top: 150px;

        .sectionparagraph {
          max-width: 450px;
          margin-bottom: 80px;
        }

        @media (max-width: 868px) {
          padding-left: 0px;
        }
      }

      @media (max-width: 868px) {
        width: 100% !important;
      }

      .illustrationwrapper {
        position: relative;
        padding-left: 90px;
        svg {
          position: relative;
          z-index: 30;
        }
        &:after {
          content: "";
          position: absolute;
          width: 700px;
          height: 2px;
          background: #400039;
          bottom: 40px;
          right: -90px;
          z-index: 10;
        }
      }
    }
  }

  &.-quiz {
    padding: 100px 0px;

    .container {
      display: flex;
      align-items: center;
    }

    video {
      width: 332px;
      max-width: 90%;
    }

    .holder {
      position: relative;
      &:first-of-type {
        width: 60%;
        display: flex;
        justify-content: center;
        flex-direction: column;
        padding-right: 100px;
      }

      &:last-of-type {
        width: 40%;
        display: flex;
        justify-content: center;
      }

      @media (max-width: 868px) {
        width: 100% !important;
        padding-right: 0 !important;

        &:last-of-type {
          margin-top: 100px;
        }
      }
    }

    .starwrapper {
      position: absolute;
      top: -100%;
      left: -100px;
    }

    .illustrationwrapper svg {
      position: absolute;
      left: 0;
      top: -20px;
      z-index: 0;
    }

    .sectionparagraph {
      margin-bottom: 60px;
      position: relative;
      z-index: 30;
    }

    .sectiontitle {
      position: relative;
      z-index: 30;
    }
  }

  &.-waste {
    position: relative;
    padding: 100px 0px;

    &:before {
      content: "";
      position: absolute;
      left: 0;
      top: 0;
      width: 100vw;
      height: 60%;
      background: #3ddc97;
    }

    .sectionparagraph {
      color: #400039;
    }

    @media (max-width: 868px) {
      img {
        margin: auto;
        display: block;
        max-width: 60%;
      }

      .holder:last-of-type {
        padding-top: 60px;
      }
    }
  }

  &.-redeem {
    padding-bottom: 50px;
    .container {
      align-items: center;
    }

    .holder {
      &:first-of-type {
        width: 40%;
        padding-right: 50px;
      }
      &:last-of-type {
        width: 60%;
        display: flex;
      }

      img {
        padding: 10px;
      }

      @media (max-width: 868px) {
        width: 100% !important;
        margin-bottom: 30px;
        flex-direction: column;

        img {
          max-width: 60%;
          margin: auto auto 30px auto;
        }
      }
    }
  }

  &.-center {
    .container {
      flex-direction: column;
      justify-content: center;
      align-items: center;
      text-align: center;

      .sectiontitle {
        margin: 0 auto;
        margin-bottom: 20px;
      }

      .sectionparagraph {
        max-width: 500px;
      }
    }
  }
}

.-hero {
  position: relative;
  padding: 100px 0;

  @media (max-width: 868px) {
    padding: 100px 0 100px 0;
  }

  .container {
    position: relative;
  }

  .content {
    position: absolute;
    bottom: 0;
    width: 100%;
    padding: 0 100px 20px 100px;

    @media (max-width: 868px) {
      padding: 0 30px;
      left: 0;
      bottom: -45px;
    }
  }

  .category {
    @media (max-width: 868px) {
      font-size: 0.8rem;
      margin-bottom: 5px;
    }
  }

  .icon {
    max-width: 70%;
    margin: auto;
  }

  .thumb {
    position: relative;
    width: 100%;
  }

  .image {
    width: 70%;
    max-width: 90%;
    position: absolute;
    margin: auto;
    inset: 0;
  }

  .name {
    font-size: 4rem;
    line-height: normal;
    font-weight: 800;
    max-width: none;
    text-align: left;

    @media (max-width: 868px) {
      font-size: 2rem;
    }
  }
}

.-case .-synopsis {
  display: flex;
  justify-content: flex-start;

  @media (max-width: 868px) {
    flex-direction: column;
    padding: 0 30px 40px 30px;
  }

  .item {
    width: 35%;
    padding-right: 50px;

    &.-thechallenge {
      width: 65%;
      padding-right: 20px;
    }

    @media (max-width: 868px) {
      margin-bottom: 40px;
      width: 100% !important;
    }
  }
  .title {
    font-weight: 600;
    font-size: 1.5rem;
    margin-bottom: 20px;
    color: #400039;
    @media (max-width: 868px) {
      font-size: 1rem;
    }
  }

  .list li {
    margin-bottom: 10px;
    font-weight: 400;
  }
}

.-beforeafter {
  .caseimage {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    @media (max-width: 868px) {
      margin-bottom: 50px;
    }
  }

  .text {
    font-weight: 600;
    font-size: 1.5rem;
    margin-bottom: 40px;
  }
}

.-uxproccess {
  .processes {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    width: 100%;

    @media (max-width: 868px) {
      flex-direction: column;
    }
  }

  .processes > .item {
    width: 32%;
    padding: 35px 30px;
    border: 2px solid #fd4d40;
    border-radius: 16px;

    @media (max-width: 868px) {
      width: 100%;
      margin: 20px 0;
    }

    &:nth-of-type(2) {
      border-color: #d604c1;

      .title {
        color: #d604c1;
      }
    }

    &:last-of-type {
      border-color: #f992d3;
      .title {
        color: #f992d3;
      }
    }
  }

  .processes > .item .title {
    color: #fd4d40;
    font-size: 1.5rem;
    font-weight: 600;
    margin-bottom: 35px;
    text-align: center;
  }

  .processes > .item .list {
    list-style: disc;
    padding-left: 20px;
    line-height: 1.4rem;
  }

  .processes > .item .list .item {
    margin-bottom: 10px;
  }
}

.-survey {
  display: flex;
  align-items: center;

  .holder {
    width: 50%;

    @media (max-width: 868px) {
      width: 100%;
      padding: 0;
      &:first-of-type {
        margin-bottom: 40px;
      }
    }

    @media (min-width: 868px) {
      &:first-of-type {
        padding-right: 50px;
      }
      &:last-of-type {
        padding-left: 50px;
      }
    }
  }

  .caseimage {
    margin-bottom: 20px;
    padding: 10px 0px;

    &:first-of-type {
      border-bottom: 1px solid #e5e5e5;
    }
  }

  .caseimage .text {
    margin-bottom: 20px;
    font-weight: 600;
    color: #99018a;
  }

  .caseimage .caption {
    margin-top: 20px;
    color: #666666;
  }
}

.-full {
  img {
    width: 100%;
  }
}

.-carousel {
  max-width: 100%;
  margin: 0 auto;
  padding: 0 20px;

  @media (min-width: 868px) {
    max-width: 1130px;
  }
}

.screenprint {
  margin-bottom: 20px;
  padding: 10px 0px;
  display: flex;
  align-items: center;
  flex-direction: column;

  .caption {
    margin-top: 30px;
    color: #666666;
    max-width: 200px;
    text-align: center;
    line-height: 1.5rem;
  }
}

.videoprint {
  max-width: 225px;
}

.-result {
  width: 100%;
  background-color: #f992d3;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 70px 0;
  position: relative;

  .videoprint {
    max-width: 348px;
    z-index: 30;
  }

  .circles {
    position: absolute;
    bottom: 0;
    right: 15%;
    z-index: 1;
  }
}

.quotation {
  margin-bottom: 60px;

  &:last-of-type {
    margin-bottom: 0;
  }

  .icon {
    margin-bottom: 20px;
  }

  .sectionparagraph {
    font-size: 1.6rem;
    line-height: 2.4rem;
    font-weight: 600;
    color: #400039;
    margin-bottom: 20px;
  }

  .author {
    color: #666666;
  }
}

.-bggreen {
  background: #132c1e;
}

.-targetaudience {
  .holder {
    position: relative;
  }
  .icon {
    position: absolute;

    &.-left {
      right: 105%;
      width: 127px;
      top: 50%;
    }

    &.-right {
      left: 101%;
    }
  }
}
