.logo-master svg circle {
  transition: transform 0.3s cubic-bezier(0.65, 0, 0.35, 1);
  transition-delay: 0.2s;
}

.home .container {
  display: flex;
  justify-content: space-between;
  padding: 50px 20px 100px 20px;
  max-width: 1350px;

  @media (max-width: 868px) {
    flex-direction: column;
  }
}

.home .container .holder {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 30%;
  order: 3;

  > a {
    margin: 40px 0;
  }

  &:first-of-type {
    order: 2;
    @media (min-width: 768px) {
      order: initial;
    }
  }

  @media (min-width: 768px) {
    order: initial;
  }

  @media (max-width: 868px) {
    width: 100%;
  }
}

.logo-master {
  width: 420px;
  height: 420px;
  max-width: 80%;
  margin: 0 auto;
  margin-top: 15%;
  order: 1;

  .letters {
    display: block;
    transform-origin: center;
    animation: rotate 30s linear infinite;
    transition: transform 0.3s ease;
  }

  svg {
    width: 100%;
    height: 100%;
  }

  @media (min-width: 768px) {
    order: initial;
    max-width: none;
  }
}

::selection {
  background-color: #99018a;
  color: white;
}

html {
  cursor: url("data:image/svg+xml;utf8, <svg width='28' height='28' viewBox='0 0 28 28' fill='none' xmlns='http://www.w3.org/2000/svg'><path d='M28 14C28 21.732 21.732 28 14 28C6.26801 28 0 21.732 0 14C0 6.26801 6.26801 0 14 0C21.732 0 28 6.26801 28 14Z' fill='%23400039'/></svg>")
      32 32,
    pointer;
}

a {
  cursor: url("data:image/svg+xml;utf8, <svg width='28' height='28' viewBox='0 0 28 28' fill='none' xmlns='http://www.w3.org/2000/svg'><path fill-rule='evenodd' clip-rule='evenodd' d='M14 26C20.6274 26 26 20.6274 26 14C26 7.37258 20.6274 2 14 2C7.37258 2 2 7.37258 2 14C2 20.6274 7.37258 26 14 26ZM14 28C21.732 28 28 21.732 28 14C28 6.26801 21.732 0 14 0C6.26801 0 0 6.26801 0 14C0 21.732 6.26801 28 14 28Z' fill='%23400039'/></svg>")
      32 32,
    pointer;
}

.home .container .holder .case {
  position: relative;
  width: 100%;
  max-width: 336px;
  cursor: url("data:image/svg+xml;utf8, <svg width='59' height='42' viewBox='0 0 59 42' fill='none' xmlns='http://www.w3.org/2000/svg'><path d='M32.3897 41.7572C23.6009 41.7572 15.3005 36.588 7.48826 26.4957L7 25.7572L7.48826 25.0187C7.97653 24.5264 17.2535 10.4957 31.6573 9.7572C40.9343 9.26489 49.9671 14.4341 58.5117 24.7726L59 25.511L58.5117 26.2495C58.0235 26.988 47.77 41.511 32.8779 41.7572C32.8779 41.7572 32.6338 41.7572 32.3897 41.7572ZM9.92958 25.511C17.2535 34.6187 24.8216 39.2957 32.8779 39.0495C44.5962 38.8034 53.6291 28.4649 55.8263 25.511C48.0141 16.1572 39.9577 11.7264 31.6573 11.9726C20.4272 12.711 12.1268 22.8034 9.92958 25.511Z' fill='%2399018A'/><path d='M32.8779 34.1266C37.4621 34.1266 41.1783 30.3796 41.1783 25.7574C41.1783 21.1352 37.4621 17.3881 32.8779 17.3881C28.2936 17.3881 24.5774 21.1352 24.5774 25.7574C24.5774 30.3796 28.2936 34.1266 32.8779 34.1266Z' fill='%2399018A'/><path d='M11.5035 8.2709L0.149049 2.74354L2.46731 14.9929L5.41178 12.0744L8.87791 16.7791L11.4493 14.917L7.96597 10.3114L11.5035 8.2709Z' fill='%2399018A'/></svg>")
      32 32,
    pointer;
  margin: 80px auto;

  .icon {
    position: relative;
    top: -40px;
  }

  .content {
    position: absolute;
    width: 100%;
    height: 100%;
    margin: auto;
    top: 0;
    bottom: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    padding-top: 30px;
  }

  .image {
    width: 336px;
    height: 336px;
    max-width: 100%;
    flex-shrink: 0;

    img {
      object-fit: contain !important;
    }
  }
}
