.home .container {
  display: flex;
  justify-content: space-between;
  padding: 80px 20px;
  max-width: 90%;
}

.home .container .holder {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.home .container .holder .case {
  position: relative;
  width: 336px;
  cursor: url("data:image/svg+xml, %3Csvg width='59' height='42' viewBox='0 0 59 42' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M32.3897 41.7572C23.6009 41.7572 15.3005 36.588 7.48826 26.4957L7 25.7572L7.48826 25.0187C7.97653 24.5264 17.2535 10.4957 31.6573 9.7572C40.9343 9.26489 49.9671 14.4341 58.5117 24.7726L59 25.511L58.5117 26.2495C58.0235 26.988 47.77 41.511 32.8779 41.7572C32.8779 41.7572 32.6338 41.7572 32.3897 41.7572ZM9.92958 25.511C17.2535 34.6187 24.8216 39.2957 32.8779 39.0495C44.5962 38.8034 53.6291 28.4649 55.8263 25.511C48.0141 16.1572 39.9577 11.7264 31.6573 11.9726C20.4272 12.711 12.1268 22.8034 9.92958 25.511Z' fill='%2399018A'/%3E%3Cpath d='M32.8779 34.1266C37.4621 34.1266 41.1783 30.3796 41.1783 25.7574C41.1783 21.1352 37.4621 17.3881 32.8779 17.3881C28.2936 17.3881 24.5774 21.1352 24.5774 25.7574C24.5774 30.3796 28.2936 34.1266 32.8779 34.1266Z' fill='%2399018A'/%3E%3Cpath d='M11.5035 8.2709L0.149049 2.74354L2.46731 14.9929L5.41178 12.0744L8.87791 16.7791L11.4493 14.917L7.96597 10.3114L11.5035 8.2709Z' fill='%2399018A'/%3E%3C/svg%3E")
      32 32,
    pointer;
  margin: 60px 0px;

  .content {
    position: absolute;
    width: 100%;
    height: 100%;
    margin: auto;
    top: 0;
    bottom: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    padding-top: 30px;
  }

  .image {
    width: 270px;
    height: 270px;
    flex-shrink: 0;

    img {
      object-fit: contain !important;
    }
  }

  .category {
    background: #f992d3;
    padding: 5px 10px;
    border-radius: 16px;
    margin-bottom: 15px;
  }

  .name {
    font-size: 1.5rem;
    font-weight: 600;
  }
}
