.grid {
  padding: 200px 5px;
  display: grid;
  max-width: 1920px;
  margin: 0 auto;

  @media (max-width: 868px) {
    padding: 100px 0;
    display: flex;
    flex-direction: column;
  }

  .case {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    padding: 10px;

    &:hover {
      img {
        transform: scale(1.5);
        cursor: url("data:image/svg+xml;utf8, <svg width='40' height='40' viewBox='0 0 40 40' fill='none' xmlns='http://www.w3.org/2000/svg'><path fill-rule='evenodd' clip-rule='evenodd' d='M0 10V0H10V4H4V10H0ZM40 10V0H30V4H36V10H40ZM40 30H36V36H30V40H40V30ZM10 40V36H4V30H0V40H10Z' fill='%23FF4522'/></svg>")
            32 32,
          pointer;
      }
    }

    .image-wrapper {
      width: 100%;
      max-width: 100%;

      &.-greenstar {
        width: 288px;
        animation: float 25s ease-in-out infinite alternate;
      }

      &.-halfcircle {
        width: 351px;
        animation: float 35s ease infinite alternate-reverse;
        animation-delay: 0.5s;
      }
    }

    .-yellowsquare {
      animation: rotating 15s ease infinite alternate-reverse;
    }

    .-bluecloud {
      animation: spin 15s ease infinite alternate-reverse;
    }

    .-greenpil {
      animation: rotating 10s ease infinite alternate-reverse;
    }

    .-waves {
      animation: waves 15s ease infinite alternate-reverse;
    }

    .-circlepink {
      animation: toup 8s ease infinite alternate-reverse;
    }

    @media (max-width: 868px) {
      padding: 8px 15px;

      &.-vector {
        padding: 0px 15px;
      }

      &.-beforevector {
        padding-bottom: 0;
      }

      &.-aftervector {
        padding-top: 0;
      }
    }

    &.cell-2 {
      min-height: 250px;
      position: relative;

      @media (max-width: 868px) {
        display: flex;
        align-items: flex-end;
        justify-content: space-between;
      }

      @media (min-width: 868px) {
        padding: 0;
      }

      img {
        position: absolute;

        @media (max-width: 868px) {
          position: relative;
          width: 50% !important;
        }

        @media (min-width: 868px) {
          &:first-of-type {
            bottom: 0;
            left: -10px;
            width: 50%;
          }
          &:last-of-type {
            bottom: 0;
            right: 10px;
            width: 60%;
          }
        }
      }
    }

    &.cell-3 {
      padding-top: 0;
    }

    &.cell-10 {
      padding-bottom: 0;
    }
    &.cell-11 {
      padding-top: 0;
      display: flex;
      flex-direction: row;
    }
  }

  .cell-1 {
    grid-area: 1 / 1 / 3 / 5;
  }
  .cell-2 {
    grid-area: 1 / 5 / 2 / 7;
  }
  .cell-3 {
    grid-area: 2 / 5 / 3 / 7;
  }
  .cell-4 {
    grid-area: 3 / 1 / 4 / 3;
  }
  .cell-5 {
    grid-area: 3 / 3 / 5 / 7;
  }
  .cell-6 {
    grid-area: 4 / 1 / 6 / 3;
  }
  .cell-7 {
    grid-area: 5 / 5 / 7 / 7;
  }
  .cell-8 {
    grid-area: 5 / 3 / 6 / 5;
  }
  .cell-9 {
    grid-area: 6 / 1 / 11 / 5;
  }
  .cell-10 {
    grid-area: 7 / 5 / 9 / 7;
  }
  .cell-11 {
    grid-area: 9 / 5 / 11 / 7;
  }

  .cell-12 {
    grid-area: 11 / 1 / 12 / 3;
  }
  .cell-13 {
    grid-area: 11 / 3 / 13 / 7;
  }
  .cell-14 {
    grid-area: 12 / 1 / 13 / 3;
  }

  .cell-15 {
    grid-area: 13 / 1 / 15 / 5;
  }
  .cell-16 {
    grid-area: 13 / 5 / 14 / 7;
  }
  .cell-17 {
    grid-area: 14 / 5 / 15 / 7;
  }

  .cell-18 {
    grid-area: 15 / 1 / 16 / 3;
  }
  .cell-19 {
    grid-area: 15 / 3 / 18 / 7;
  }
  .cell-20 {
    grid-area: 17 / 1 / 17 / 3;
  }

  .cell-21 {
    grid-area: 18 / 1 / 18 / 4;
  }
  .cell-22 {
    grid-area: 18 / 4 / 18 / 8;
  }
}

@keyframes float {
  0% {
    transform: translatey(0px);
  }
  50% {
    transform: translatey(-20px) translateX(20px) rotate(3deg);
  }
  100% {
    transform: translatey(20px) translateX(-20px) rotate(-3deg);
  }
}

@keyframes rotating {
  0% {
    transform: translatey(0px);
  }
  100% {
    transform: translatey(5px) rotate(30deg);
  }
}

@keyframes toup {
  0% {
    transform: translatey(0px);
  }
  100% {
    transform: translatey(-25px);
  }
}

@keyframes waves {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(10deg);
  }
}
