.grid {
  padding: 150px 5px;
  display: grid;

  @media (max-width: 868px) {
    padding: 100px 0;
    display: flex;
    flex-direction: column;
  }

  .case {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    padding: 10px;

    .image-wrapper {
      width: 100%;
      max-width: 100%;

      &.-greenstar {
        width: 288px;
      }

      &.-halfcircle {
        width: 351px;
      }

      &.-yellowsquare {
        width: 248px;
      }

      &.-greenpil {
        width: 85px;
      }

      &.-pinkcircle {
        width: 170px;
      }
    }

    @media (max-width: 868px) {
      padding: 8px 15px;

      &.-vector {
        padding: 0px 15px;
      }

      &.-beforevector {
        padding-bottom: 0;
      }

      &.-aftervector {
        padding-top: 0;
      }
    }
  }

  .cell-1 {
    grid-area: 1 / 1 / 3 / 4;
  }
  .cell-2 {
    grid-area: 1 / 4 / 2 / 7;
  }
  .cell-3 {
    grid-area: 2 / 4 / 3 / 7;
  }
  .cell-4 {
    grid-area: 3 / 1 / 4 / 3;
  }
  .cell-5 {
    grid-area: 3 / 3 / 5 / 7;
  }
  .cell-6 {
    grid-area: 4 / 1 / 6 / 3;
  }
  .cell-7 {
    grid-area: 5 / 5 / 7 / 7;
  }
  .cell-8 {
    grid-area: 5 / 3 / 6 / 5;
  }
  .cell-9 {
    grid-area: 6 / 1 / 11 / 5;
  }
  .cell-10 {
    grid-area: 7 / 5 / 9 / 7;
  }
  .cell-11 {
    grid-area: 9 / 5 / 11 / 7;
  }
}
