@import "./reset.scss";
@import "./animation.scss";
@import "~slick-carousel/slick/slick.css";
@import "~slick-carousel/slick/slick-theme.css";

.main {
  width: 100vw;
  overflow-x: hidden;
}

.container {
  max-width: 1130px;
  margin: 0 auto;
  padding: 0 20px;
}

.-desktop {
  @media (max-width: 868px) {
    display: none;
  }
}

.categorylabel {
  background: #f992d3;
  padding: 5px 10px;
  border-radius: 16px;
  margin-bottom: 15px;
  display: inline-block;
}

.projectinfo {
  .name {
    font-size: 1.5rem;
    font-weight: 600;
    text-align: center;
    line-height: 32px;
    max-width: 288px;
  }
}

.link {
  color: #d604c1;
  text-decoration: underline;
}

.sectionparagraph {
  line-height: 1.7rem;
  color: #666666;
  font-weight: lighter;

  &.-emphasis {
    font-weight: bold;
    color: #99018a;
    font-size: 1.25rem;
  }
}

.sectiontitle {
  font-size: 1.5rem;
  line-height: 1.8rem;
  font-weight: 600;
  margin-bottom: 40px;
  margin-left: 0;
  margin-right: auto;

  &.-nomargin {
    margin: 0;
  }

  &.-red {
    color: #ff4522;
  }

  &.-bignumber {
    color: #400039;
    font-size: 3.8rem;
    font-weight: 800;
    line-height: initial;
    margin-bottom: 15px;
  }

  &.-close {
    margin-bottom: 20px;
  }

  &.-huge {
    margin-bottom: 40px;
    font-size: 4rem;
    color: #400039;
    font-weight: 800;
    line-height: 4.7rem;

    @media (max-width: 868px) {
      font-size: 3rem;
      line-height: 3rem;
      margin-bottom: 20px;
    }
  }
}

.sectionlist {
  list-style-type: disc;
  padding-left: 20px;
  color: #666666;
  margin: 10px 0px;

  &.-number {
    list-style: none;
    counter-reset: my-awesome-counter;
    > li:before {
      content: counter(my-awesome-counter) ". ";
    }
  }

  &.-nodots {
    list-style: none;
  }

  li {
    margin-bottom: 5px;
    line-height: 1.7rem;
    counter-increment: my-awesome-counter;

    &.-highlighted {
      font-size: 1rem;
      color: #400039;
      font-weight: 700;
    }
  }

  &.-big {
    font-size: 1.25rem;
    color: #400039;
    font-weight: 700;
    li {
      line-height: 2rem;
      margin-bottom: 20px;
    }
  }

  &.-highlighted {
    font-size: 1rem;
    color: #400039;
    font-weight: 700;
    li {
      line-height: 1.3rem;
      margin-bottom: 15px;
    }
  }
}

.featuredtext {
  font-size: 4rem;
  font-weight: bold;
  margin-bottom: 30px;

  @media (max-width: 868px) {
    font-size: 3rem;
  }
}

.box {
  padding: 40px;
  border: 1px solid #f992d3;
  border-radius: 18px;
  color: #400039;
  line-height: 1.5rem;
  display: flex;
  align-items: center;

  @media (max-width: 868px) {
    flex-direction: column;
    align-items: flex-start;
  }

  .icon {
    font-size: 3rem;
    margin-right: 30px;

    @media (max-width: 868px) {
      font-size: 2rem;
      margin-bottom: 30px;
    }
  }

  &.-big {
    .text {
      color: #400039;
      font-size: 1.25rem;
      font-weight: bold;
      line-height: 1.75rem;

      @media (max-width: 868px) {
        font-size: 1rem;
        line-height: 1.55rem;
      }
    }
  }
}

.-nopadding {
  padding: 0 !important;
}

// When loading

.header,
.header .link {
  transition: opacity 0.3s ease, border-color 0.3s ease;
}
.home .container .holder,
.logo-master .letters,
.logo-master .symbol,
.header .logo,
.header .logo g {
  transition: opacity 0.3s ease;
}

.header .logo circle {
  transition: transform 0.3s cubic-bezier(0.65, 0, 0.35, 1);
}

.-loading {
  .header .link {
    opacity: 0;
  }
  .header {
    border-color: transparent;
  }
  .home .container .holder,
  .logo-master .letters,
  .logo-master .symbol,
  .header .logo g {
    opacity: 0;
  }

  .logo-master svg,
  .header .logo svg,
  .header .logo-wrapper {
    overflow: visible;
  }
  .logo-master circle {
    transform: scale(7);
  }

  .header .logo circle {
    transform: scale(25);
  }
}
