@import "./reset.scss";

.container {
  max-width: 1130px;
  margin: 0 auto;
  padding: 0 20px;
}

.-desktop {
  @media (max-width: 868px) {
    display: none;
  }
}


.projectinfo {
  .category {
    background: #f992d3;
    padding: 5px 10px;
    border-radius: 16px;
    margin-bottom: 15px;
    display: inline-block;
  }

  .name {
    font-size: 1.5rem;
    font-weight: 600;
  }
}