@import "./reset.scss";
@import "~slick-carousel/slick/slick.css"; 
@import "~slick-carousel/slick/slick-theme.css";

.container {
  max-width: 1130px;
  margin: 0 auto;
  padding: 0 20px;
}

.-desktop {
  @media (max-width: 868px) {
    display: none;
  }
}

.categorylabel {
  background: #f992d3;
  padding: 5px 10px;
  border-radius: 16px;
  margin-bottom: 15px;
  display: inline-block;
}

.projectinfo {

  .name {
    font-size: 1.5rem;
    font-weight: 600;
  }
}

.sectionparagraph {
  line-height: 1.7rem;
  color: #666666;
  font-weight: lighter;

  &.-emphasis {
    font-weight: bold;
    color: #99018a;
    font-size: 1.25rem;
  }
}

.sectiontitle {
  font-size: 1.5rem;
  line-height: 1.8rem;
  font-weight: 600;
  margin-bottom: 40px;
}

.sectionlist {
  list-style-type: disc;
  padding-left: 20px;
  color: #666666;
  margin: 10px 0px;

  &.-number {
    counter-reset: my-awesome-counter;
    > li:before {
      content: counter(my-awesome-counter) ". ";
    }
  }

  li {
    margin-bottom: 5px;
    line-height: 1.7rem;
    counter-increment: my-awesome-counter;
  }
}

.featuredtext {
  font-size: 4rem;
  font-weight: bold;
  margin-bottom: 30px;

  @media (max-width: 868px) {
    font-size: 3rem;
  }
}

.box {
  padding: 40px;
  border: 1px solid #f992d3;
  border-radius: 18px;
  color: #400039;
  line-height: 1.5rem;
  display: flex;
  align-items: center;

  @media (max-width: 868px) {
    flex-direction: column;
    align-items: flex-start;
  }

  .icon {
    font-size: 3rem;
    margin-right: 30px;

    @media (max-width: 868px) {
      font-size: 2rem;
      margin-bottom: 30px;
    }
  }

  &.-big {
    .text {
      color: #400039;
      font-size: 1.25rem;
      font-weight: bold;
      line-height: 1.75rem;

      @media (max-width: 868px) {
        font-size: 1rem;
        line-height: 1.55rem;
      }
    }
  }
}
