.icon {
  
  svg {
    overflow: visible;
  }
  
  @media (min-width: 868px) {
    &.-city {
      transform: scale(1.3);
    }

    .fill {
      display: none;
    }

    .object {
      fill: none;
    }

    &.-filled {
      .fill, .object {
        display: block;
      }

      &.-city .object {
        fill: #3ddc97;
      }

      &.-iq .object {
        fill: #9ceaef;
      }

      &.-blueberry .object {
        fill: #99018A;
      }
    }
  }
}

.case {
  &:hover {
    .fill {
      display: block;
    }

    .-city .object {
      fill: #3ddc97;
    }

    .-iq .object {
      fill: #9ceaef;
    }

    .-blueberry .object {
      fill: #99018A;
    }
  }
}
