.icon {
  &.-city {
    transform: scale(1.3);
  }

  .fill {
    display: none;
  }

  .object {
    fill: none;
  }
}

.icon {
  &:hover {
    .fill {
      display: block;
    }

    .-city .object {
      fill: #3ddc97;
    }

    .-iq .object {
      fill: #9ceaef;
    }

    .-valeapena .object {
      fill: #99018a;
    }
  }

  &.-filled {
    .fill {
      display: block;
    }

    .-city .object {
      fill: #3ddc97;
    }

    .-iq .object {
      fill: #9ceaef;
    }

    .-valeapena .object {
      fill: #99018a;
    }
  }
}
