.contact {
  background: #400039;
  width: 100%;
  padding: 180px 60px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  justify-content: center;
  position: relative;
  overflow: hidden;

  .container.container {
    width: 100vw;
    max-width: none;
    height: 100%;
    padding: 0;
    margin: 0;
    position: absolute;
  }

  .title {
    color: white;
    font-size: 4rem;
    font-weight: 800;
    line-height: 5rem;
    margin-bottom: 30px;
    position: relative;
    z-index: 20;

    @media (max-width: 768px) {
      font-size: 32px;
      line-height: 40px;
    }
  }

  .text {
    font-size: 2rem;
    line-height: 2.8rem;
    max-width: 700px;
    color: white;
    position: relative;
    z-index: 20;

    @media (max-width: 768px) {
      font-size: 18px;
      line-height: 26px;
    }

    a {
      color: #ff4522;
      text-decoration: none;
      &:hover {
        background-color: #ff4522;
        color: #400039;
      }
    }

    small {
      font-size: 1rem;
    }

    .linkedin {
      color: #9ceaef;
      &:hover {
        background-color: #9ceaef;
        color: #400039;
      }
    }

    .instagram {
      color: #3ddc97;
      &:hover {
        background-color: #3ddc97;
        color: #400039;
      }
    }

    .dribbble {
      color: #f992d3;
      &:hover {
        background-color: #f992d3;
        color: #400039;
      }
    }
  }

  .firstgroup,
  .lastgroup {
    position: absolute;
    z-index: 4;
  }

  svg {
    position: absolute;
  }

  .firstgroup {
    width: 100%;
    height: 50%;
    top: 0;
  }

  .lastgroup {
    width: 100%;
    height: 50%;
    bottom: 0;
  }

  .red {
    top: 180px;
    left: 100px;
    animation: float 25s ease-in-out infinite alternate;
  }
  .purple {
    left: -250px;
    top: 20px;
    animation: float 30s ease-in-out infinite alternate-reverse;
  }

  .yellow {
    left: -20px;
    top: 400px;
    animation: float 15s ease-in-out infinite alternate;
  }

  .blue {
    bottom: 0;
    right: 0;
    animation: float 15s ease-in-out infinite alternate-reverse;
  }

  .green {
    bottom: 50px;
    right: 100px;
    animation: float 25s ease-in-out infinite alternate;
  }

  .pink {
    right: 0;
    animation: float 35s ease-in-out infinite alternate-reverse;
  }
}
