.contact {
  background: #400039;
  width: 100%;
  padding: 180px 60px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;

  .title {
    color: white;
    font-size: 4rem;
    font-weight: 800;
    line-height: 5rem;
    margin-bottom: 30px;

    @media (max-width: 768px) {
      font-size: 32px;
      line-height: 40px;
    }
  }

  .text {
    font-size: 2rem;
    line-height: 2.8rem;
    max-width: 700px;
    color: white;

    @media (max-width: 768px) {
      font-size: 18px;
      line-height: 26px;
    }

    a {
      color: #ff4522;
      text-decoration: none;
      &:hover {
        background-color: #ff4522;
        color: #400039;
      }
    }

    small {
      font-size: 1rem;
    }

    .linkedin {
      color: #9ceaef;
      &:hover {
        background-color: #9ceaef;
        color: #400039;
      }
    }

    .instagram {
      color: #3ddc97;
      &:hover {
        background-color: #3ddc97;
        color: #400039;
      }
    }

    .dribbble {
      color: #f992d3;
      &:hover {
        background-color: #f992d3;
        color: #400039;
      }
    }
  }
}
