.header {
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-weight: 800;
  text-transform: uppercase;
  color: #99018a;
  font-size: 1rem;
  z-index: 60;
  position: relative;

  @media (max-width: 868px) {
    font-size: 0.8rem;
  }

  .line {
    position: absolute;
    bottom: 0;
    width: 100%;
    left: 0;
    margin: 0;
  }

  .link {
    text-decoration: none;
    padding: 30px;
  }

  .link,
  .title {
    color: #99018a;
    display: inline-block;
  }

  .logo-wrapper {
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
    top: 30%;
    z-index: 60;
    width: 117px;
    height: 117px;
    @media (max-width: 868px) {
      width: 80px;
      height: 80px;
      top: 50%;
    }

    .letters {
      display: none;
    }
  }

  &.-opened {

    .symbol {
      transform: none;
    }

    .logo {
      display: none;
    }
  }
}
